{
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "jsx": true
  },
  "rules": {
    "semi": [2, "never"],
    "prefer-arrow-callback": [2],
    "arrow-spacing": [2]
  }
}
